<div class="content-view">
  <div class="scroll-this">
    <div class="content">
      <div class="row-layout">
        <app-run-date [lastRunDate]="lastRunDate"></app-run-date>
        <app-test-count [count]="testCount"></app-test-count>
        <!--<app-percentage-change-graph [data]="results"></app-percentage-change-graph>-->
      </div>
      <app-page-per-environment [data]="chart" (changeChart)="handleChartChange($event)" (chartPointClicked)="onChartClick($event)"
                                [chartType]="chartType" [chartTitle]="chartTitle"></app-page-per-environment>
    </div>
  </div>
</div>
