<div class="card">
  <div class="card-content list-content">
    <h3 class="heading-3"><span class="count">{{ testOptions.length }} </span>Tests <span *ngIf="selectedTests.length > 0">({{selectedTests.length}} selected)</span></h3>
    <input class="full-width" #search type="text" pInputText [(ngModel)]="searchVal" (input)="filter(search.value)" />
    <div class="inner-content">
      <div class="scrollable">
        <div *ngFor="let test of filteredTests" [class.selected]="openTest === test.id">
          <p-checkbox name="group1" value="{{test._id}}" [(ngModel)]="selectedTests" (onChange)="update()" class="list-checkbox"></p-checkbox>
          <div class="btn-outline as-sidenav" (click)="onSelectTest(test)">
            <span class="btn-label">{{test.path.substr(0,45)}}{{test.path.length > 45 ? '...' : ''}}</span>
            <span class="btn-sub">{{test.hostname}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
